Package      Version  
------------ ---------
asn1crypto   0.24.0   
certifi      2018.4.16
cffi         1.11.5   
chardet      3.0.4    
click        6.7      
cryptography 2.2.2    
ecdsa        0.13     
Flask        1.0      
idna         2.6      
itsdangerous 0.24     
Jinja2       2.10     
MarkupSafe   1.0      
passlib      1.7.1    
pip          10.0.1   
pycparser    2.18     
requests     2.18.4   
setuptools   39.1.0   
six          1.11.0   
urllib3      1.22     
Werkzeug     0.14.1   
wheel        0.31.0   
